* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100 img; }

.index__header {
  background-color: #389db5;
  width: 100%;
  border-bottom: 2px solid; }

.nav li a {
  background-color: #2b7e93;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 1.7em; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 9vh; }

.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.nav li a:hover {
  background-color: #1f5866; }

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px; }

.nav li:hover > ul {
  display: block; }

img {
  width: 60px; }

.ul__li {
  border-right: 1.5px solid white; }

.li__contacto {
  border: 0; }

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: white; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 2px solid black;
  width: 100%; }

.section-intro {
  background-image: url("https://i.pinimg.com/736x/3f/00/3c/3f003c51bb323fe38032dcf3cf587565.jpg");
  width: 100%;
  height: 40rem; }

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
  height: 50rem; }

.section-1__h1 {
  font-size: 4em;
  color: #389db5; }

.section-1__h2 {
  font-size: 2.5em;
  color: #389db5; }

.section-1__div__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  font-size: 1.7em;
  padding-top: 5rem;
  padding-bottom: 3rem; }

.section-1__div-2 {
  font-size: 1.7em;
  display: flex;
  justify-content: center; }

.p-section1 {
  width: 50%;
  color: #389db5; }

.link {
  color: #389db5;
  text-decoration: underline; }

.transferencias, .dolares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #389db5;
  padding-bottom: 5rem; }

.transferencias__h2 {
  font-size: 4em;
  color: #389db5; }

.transferencias__p {
  color: #389db5;
  font-size: 2em;
  width: 50%; }

.form__transferencias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-top: 2rem; }

.input {
  width: 30rem;
  height: 2.5rem;
  margin: 1rem 0; }

textarea {
  resize: none; }

.form__p {
  font-size: 1.7em;
  color: #389db5; }

.dolares__h2 {
  font-size: 4em;
  color: #389db5; }

.dolares__form__p {
  padding-bottom: 1rem;
  font-size: 1.7em; }

.dolares__input {
  margin-bottom: 1rem; }

.dolares__p {
  font-size: 2em;
  width: 50%; }

.dolares__h3 {
  font-size: 2em; }

.input-password {
  margin-top: 1rem;
  height: 2.5rem; }

.p-password {
  margin-bottom: 1rem; }

.input-comprar {
  margin-left: 2rem; }

.plazofijo__h2 {
  font-size: 4em;
  color: #389db5; }

.plazofijo__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem 0; }

.plazofijo__p {
  font-size: 1.7em;
  width: 50%;
  color: #389db5; }

.plazofijo {
  height: 55rem; }

.plazofijo__form > p {
  font-size: 1.7em;
  color: #389db5; }

.prestamos {
  height: 60rem; }

.prestamos__h2 {
  font-size: 4em;
  color: #389db5; }

.prestamos__p {
  font-size: 1.7em;
  color: #389db5;
  width: 50%; }

.prestamos__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.5rem; }

.m {
  padding-bottom: 2rem; }
